JUDGE0_ENDPOINT=
JUDGE0_AUTH_KEY=

# configure sentry endpoint here
SENTRY_DSN=
# For who uses RapidAPI, also configure the following:
# determine whether or not to use rapidapi (case-sensitive - True/False)
IS_RAPIDAPI=
RAPIDAPI_KEY=

# RapidAPI endpoint should only contain the domain name - excluding the http:// or alike (for example, google.com instead of https://google.com).
RAPIDAPI_HOST=
