# This is environment variables file for development. You can copy this file to .env and change the values as needed.

# Define backend url here. Defaults to 8000 for local development
# Please update this value if your backend is running on remote server or different port
VITE_BACKEND_URL=http://localhost:8000

