# This is environment variables file for development. You can copy this file to .env and change the values as needed.

# Define backend url here. Defaults to 8000 for local development
# Please update this value if your backend is running on remote server or different port
VITE_BACKEND_URL=http://localhost:8000


# Note: This is not needed if you set it up via convex cli, however we put it here for reference and other who prefers manual way.
CONVEX_DEPLOYMENT=
VITE_CONVEX_URL=
VITE_CONVEX_SITE_URL=
